<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css
  "
    />
    <title>Bikes Store on Vue.js</title>
  </head>
  <body>
    <div id="app" class="container pt-5">
      <div class="row mb-3">
        <div class="col"><h1>Bikes Store App</h1></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="search">Search bike</label>
            <input
              type="text"
              class="form-control"
              id="search"
              placeholder="brand, model ..."
              v-model="search"
            />
          </div>
          <hr />
          <ul class="list-group">
            <li
              v-for="(bike, index) of filteredBikes"
              class="list-group-item list-group-item-action pointer"
              v-on:click="selectBike(index)"
              v-bind:class="{'active': selectedBike === index}"
            >
              {{ bike.brand }} - {{ bike.model }}
            </li>
          </ul>
        </div>
        <div class="col-md-8 pt-4">
          <div class="row">
            <div class="col-md-5">
              <h3>{{ bike.brand }} - {{ bike.model }}</h3>
              <img
                v-bind:src="bike.image"
                v-bind:alt="bike.model"
                class="bike-image"
              />
            </div>
            <div class="col-md-7 pt-2">
              <h5>Bike details</h5>
              <ul>
                <li>Brand: {{ bike.brand }}</li>
                <li>Model: {{ bike.model }}</li>
                <li>Year: {{ bike.year }}</li>
                <li>Sizes: {{ bike.sizes }}</li>
                <li>Price: {{ bike.price }}$</li>
              </ul>
              <button
                class="btn btn-outline-success mr-3"
                v-on:click="isBikeDetails = !isBikeDetails"
              >
                {{ detailsBtnText }}
              </button>
              <button class="btn btn-primary">Buy</button>
              <div class="row mt-3" v-if="isBikeDetails">
                <div class="col">
                  <ul class="list-group">
                    <li
                      v-for="bikeDetail in bike.details"
                      class="list-group-item"
                    >
                      {{ bikeDetail }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="components/app.js"></script>
  </body>
</html>
